<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/Daogen2"
			class = "org.xtext.daogen2.Daogen2Package"
			genModel = "model/generated/Daogen2.genmodel" />
	</extension>
</plugin>
